  main {
    text-align: center;
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    right: -300px;
    width: 250px;
    height: 100%;
    top: 0;
    background-color:  rgb(123, 80, 144);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 2;
    overflow-y: auto;
  }

  .sidebar.open {
    right: 0;
  }

  .sidebar.open ~ .main-content {
    margin-right: 250px;
    color:rgb(135, 68, 169);
  }

  .sidebar-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color:  rgb(123, 80, 144);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
  }

  .sidebar h3 {
    color: white;
    text-align: center;
  }
  
  /* Player Info */
  .players {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
  }
  
  .player-name {
    font-size: 22px;
    margin-left: 10px;
  }
  
  main div {
    margin: 10px 0;
  }
  
  /* Duck Count Styling */
  main div span {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Button Styling */
  button {
    padding: 10px;
    border: 2px solid #5b3e3e;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }

  .cost {
    font-size: 12px;
    text-align: center;
    margin: 0;
  }

  .completion-message{
    text-align: center;
    color: white;
  }

  label.title {
    color: purple !important;
    background-color: white;
  }

  
  button.button:hover {
    background-color: #949494;
  }
  
  /* Duck Image Button */
  .duck-img {
    width: 250px;
    height: 250px;
  }

  button.button:active{
      transform: scale(90%);
  }
  
  /* Upgrade and Duckielution Section */
  table {
    width: 100%;
  }
  
  table td {
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  
  button#Upgrades {
    background-color: darkorchid;
  }
  
  button#Upgrades:hover {
    background-color: #8552ae;
  }
  
  button#Duckielutions {
    background-color: darkorchid;
  }
  
  button#Duckielutions:hover {
    background-color: #8552ae;
  }
  
  /* Scrolling Quote */
.scrolling-bar {
    background-color:  rgb(135, 68, 169);
    padding: 5px;
    margin-top: 13%;
    overflow: hidden;
    height: 75px;
    position: relative;
    z-index: 1;
  }
  
  .quote {
    display: inline-block;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    animation: move-quote 30s linear infinite; /* Adjust speed by changing the duration */
    display: flex;
    justify-content: space-between;
}
  
  @keyframes move-quote {
    0% {
      transform: translateX(100vw); /* Start off-screen to the right */
    }
    100% {
      transform: translateX(-110vw); /* End off-screen to the left */
    }
  }
  
  .quote p {
    color: white;
    font-size: 18px;
    font-style: italic;
    margin-right: 0px; 
  }  
  
  
  footer a:hover {
    text-decoration: underline;
  }
  
